<p class="help-block">
	Attention : par sécurité, le mot de passe doit :
	<br/>
	- être composé d'entre 8 et 16 caractères,
	<span class="text-info" id="length"></span><br/>
	- contenir au moins une majuscule,
	<span class="text-info" id="upper"></span><br/>
	- au moins une minuscule,
	<span class="text-info" id="lower"></span><br/>
	- au moins un chiffre,
	<span class="text-info" id="digit"></span><br/>
	- au moins un caractère spécial,
	<span class="text-info" id="special"></span><br/>
	- et bien sûr aucun espace.
	<span class="text-info" id="space"></span>
</p>
