/**
 * CSS file to override the template's file when needed
 */

/* category */

.clients a:hover {
    color: #3498db;
}

.clients {
    text-transform: uppercase;
}

.form-submit-btn {
    background: #3498db;
    padding: 8px 25px;
    border-radius: 50px;
    color: #fff;
}

.form-submit-btn:hover {
    color: #fff;
    background: #4aa3df;
}

/* button submit */

#trick_form button[type="submit"] {
    background: #3498db;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
}

#trick_form button[type="submit"]:hover {
    color: #fff;
    background: #4aa3df;
}

/* Mobile menu */

.navbar-mobile {
    background: rgba(39, 54, 66, 0.5);
}

.navbar-mobile ul {
    margin: auto;
    top: 70px;
    bottom: 300px;
}

/* To keep covering the entire screen whatever the content is */

div.main {
    min-height: 85vh;
}