/**
 * CSS file to override the template's file when needed
 */

/* category */

.clients a:hover {
    color: #3498db;
}

.clients {
    text-transform: uppercase;
}

/* submit */
#trick_form button[type="submit"] {
    background: #3498db;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
  }
  
#trick_form button[type="submit"]:hover {
    color: #fff;
    background: #4aa3df;
}
