<section>
	<div class="logo">
		<h1>
			<a href="{{ path('home') }}"><img src="/assets/img/snowtricks-logo.png" alt="logo snowtricks.com" class="img-fluid"></a>
		</h1>
	</div>
    <div class="container">
        <h2 class="section-title">Confirmation d'inscription</h2>
        <h3>Votre inscription est maintenant confirmée, {{ user.screenName|capitalize }} !</h3>
        <p>Il ne vous reste plus qu'à vous connecter en <a href="{{ path('security_login') }}">cliquant ici</a></p>
        <p>A très vite sur <a href="{{ path('home') }}">SonwTricks.Com</a> !</p>
    </div>
</section>
