{% apply inline_css(source('@styles/style.css')) %}
<section id="header">
	<div class="logo">
		<h1>
			<img src="{{ email.image('@images/snowtricks-logo.png') }}" alt="logo snowtricks.com" class="img-fluid">
		</h1>
	</div>
</section>
<section>
	<div class="container">
		<h2 class="section-title">Réinitialisation de votre mot de passe</h2>
		<h3>Votre mot de passe a été réinitialisé,
			{{ user.screenName|capitalize }}
			!</h3>
		<p>Mot de passe temporaire :
			{{ temp_password }}</p>
		<p>Pour modifier (au plus vite) ce mot de passe temporaire, connectez-vous en
			<a href="https://snowtricks-test.ludodrapo.fr/login">cliquant ici</a>
			puis cliquez sur "Mon profil" dans le menu.
		</p>
		<p>A très vite sur
			<a href="https://snowtricks-test.ludodrapo.fr/">SnowTricks.Com</a>
			!</p>
	</div>
</section>
{% endapply %}
