{% extends "base.html.twig" %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}

	{% include "shared/_breadcrumbs.html.twig" %}

	{% include "shared/_flashes.html.twig" %}

	<section id="last-tricks" class="more-services">
		<div class="container">

			<div class="row">

				{% for trick in category.tricks %}
					{% include "shared/_trickCard.html.twig" %}
				{% endfor %}

			</div>

		</div>
	</section>

{% endblock %}
