<div class="row item">

	<div class="col-10">
		{{ form_widget(formView) }}
	</div>

	<div class="col-2">

		{% if formView.vars.data is not null %}

			<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUrlModal-{{ formView.vars.name }}">
				<i class="fas fa-trash-alt"></i>
			</button>

			<!-- Confirmation modal box -->
			<div class="modal fade" id="deleteUrlModal-{{ formView.vars.name }}" tabindex="-1" aria-labelledby="deleteUrlModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="deleteUrlModalLabel">ATTENTION !</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Etes-vous vraiment sûr de vouloir supprimer cette URL ? Cette action est irréversible.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
							<button type="button" class="btn btn-danger btn-remove" data-bs-dismiss="modal">
								Supprimer définitivement
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- End modal -->

		{% else %}

			<button type="button" class="btn btn-danger btn-remove">
				<i class="fas fa-trash-alt"></i>
			</button>

		{% endif %}

	</div>
</div>
