<div class="item">
	{{ form_widget(formView) }}
	<div class="form-group">
		<button type="button" class="btn btn-danger btn-remove">Supprimer cette photo</button>
	</div>
	{{ form_errors(formView) }}
</div>
