<div class="row item mb-3">
	<div class="col-10">
		{% if formView.vars.data is not null and formView.vars.data.path is not null %}
			<img src="{{ asset(formView.vars.data.path)}}" alt="" width="150" height="100">
		{% endif %}
		{{ form_widget(formView) }}
	</div>
	<div class="col-2">
		<button type="button" class="btn btn-danger btn-remove">
			<i class="fas fa-trash-alt"></i>
		</button>
	</div>
</div>
