{% extends "base.html.twig" %}

{% block title %}
	Nouveau trick
{% endblock %}

{% block body %}
	<section id="trick_form" class="mt-5">

		{% include "shared/_flashes.html.twig" %}
		
		<div class="container">
			<h2>Nouveau trick</h2>
			{{ form_start(formView) }}
			{{ form_widget(formView._token)}}

			{{ include("trick/_trickForm.html.twig", {form: formView}) }}

			<div class="row mt-5" align="center">
				<div class="col-12">
					<button class="btn form-submit-btn" type="submit">
						<i class="fas fa-save"></i>
						Créer le trick
					</button>
				</div>
			</div>
			{{ form_end(formView, {render_rest: false}) }}
		</div>
	</section>
{% endblock %}
